---
layout: index
title: Dr. Bram Adams
---

<div class="box">
        <div class="sidebar">

                <div class="subnav">
                        <h5>Jump to ...</h5>
                        <p>
                        <ul>
                                <li><a href="#award">Awards</a></li>
                                <li><a href="#event-coorg">Event Co-organization</a></li>
                                <li><a href="#chair">Chair Duties</a></li>
                                <li><a href="#pcmember">PC Membership</a></li>
                                <li><a href="#reviewing">Journal Reviewing</a></li>
                                <li><a href="#editorship">Editorship and Steering Committees</a></li>
                                <li><a href="#invited">Invited Talks</a></li>
                                <li><a href="#press">Press</a></li>
                        </ul>
                        </p>
                        <br />
                        <br />
                        <h5>About Me</h5>
                        <p class="justify">
                                <img src="images/me2.jpg" border="1" alt="" /><br /><br />
                                I am a professor at <a class="inline" href="https://www.cs.queensu.ca/">Queen's
                                        University's School of
                                        Computing</a>, where I head the
                                <a class="inline" href="http://mcis.polymtl.ca/">MCIS Lab on Maintenance, Construction
                                        and
                                        Intelligence</a>.
                        </p>
                        <p class="justify">My research interests include release engineering, software engineering for
                                AI, AI for
                                software engineering and software analytics.</p>
                        <p><a href="join.html">Contact me!</a>
                        </p>
                </div>
        </div>

        <div class="content">


                <h1><a name="award">Awards</a></h1>
                <p>
                <ul>
                        {% for item in site.data.bram.awards %}
                        <li>
                                {% if item.award_url %}<a href="{{ item.award_url }}">{% endif %}
                                        {{ item.award }}
                                        {% if item.award_url %}</a>{% endif %}
                                {% if item.description %} {{ item.description }}{% endif %}
                                {% if item.venue %} at <a href="{{ item.venue_url }}">{{ item.venue }}</a>{% endif %}
                                {% if item.extra_label %} (<a href="{{ item.extra_url }}">{{ item.extra_label }}</a>){%
                                endif %}
                        </li>
                        {% endfor %}
                </ul>
                </p>

                <br />
                <br />

                <h1><a name="event-coorg">Event Co-organization</a></h1>
                <p>
                <ul>
                        {% for item in site.data.bram.event_coorganization %}
                        <li>
                                <a href="{{ item.url }}">{{ item.name }}</a>, {{ item.date }} ({{ item.address }}){% if
                                item.colocated_with %}, co-located with <a href="{{ item.colocated_url }}">{{
                                        item.colocated_with }}</a>{% endif %}{% if item.hosted_by %}, graciously hosted
                                by {{ item.hosted_by }}{% endif %}
                        </li>
                        {% endfor %}
                </ul>
                </p>
                <br />

                <h1><a name="chair">Chair Duties</a></h1>
                <p>
                <ul>
                        {% for item in site.data.bram.chair_duties %}
                        <li>
                                {{ item.role }} {% if item.cochair %}(together with <a href="{{ item.cochair_url }}">{{
                                        item.cochair }}</a>){% endif %} {% if item.track %}for {{ item.track }}{% endif
                                %} of the <a href="{{ item.url }}">{{ item.event }}</a>, {{ item.date }} ({{
                                item.address }}){% if item.extra_label %} [<a href="{{ item.extra_url }}">{{
                                        item.extra_label }}</a>]{% endif %}
                        </li>
                        {% endfor %}
                </ul>
                </p>

                <br />

                <h1><a name="pcmember">PC Membership</a></h1>
                <p>
                <ul>
                        {% for item in site.data.bram.pc_membership %}
                        <li>
                                {% if item.track %}{% if item.track_url %}<a href="{{ item.track_url }}">{% endif %}{{
                                        item.track }}{% if item.track_url %}</a>{% endif %} track of the {% endif %}<a
                                        href="{{ item.url }}">{{ item.event }}</a>, {{ item.date }}{% if item.address %}
                                ({{ item.address }}){% endif %}{% if item.colocated_with %}, co-located with <a
                                        href="{{ item.colocated_url }}">{{ item.colocated_with }}</a>{% endif %}
                        </li>
                        {% endfor %}
                </ul>
                </p>

                <br />

                <h1><a name="reviewing">Journal Reviewing</a></h1>
                <p>
                <ul>
                        {% for item in site.data.bram.journal_reviewing %}
                        <li>
                                <a href="{{ item.url }}">{{ item.name }}</a>{% if item.short_name %} ({{ item.short_name
                                }}){% endif %}
                        </li>
                        {% endfor %}
                </ul>
                </p>

                <br />

                <h1><a name="editorship">Editorship and Steering Committees</a></h1>
                <p>
                <ul>
                        {% for item in site.data.bram.editorship %}
                        <li>
                                {{ item.role }}{% if item.event %} of the <a href="{{ item.url }}">{{ item.event
                                        }}</a>{% endif %}{% if item.date %}, {{ item.date }}{% endif %}{% if
                                item.address %} ({{ item.address }}){% endif %}
                        </li>
                        {% endfor %}
                </ul>
                </p>
                <br />

                <h1><a name="invited">Invited Talks:</a></h1>
                <p>
                <ul>
                        {% for item in site.data.bram.invited_talks %}
                        <li>
                                {% if item.slides_url %}<a href="{{ item.slides_url }}">{% endif %}{{ item.title }}{% if
                                        item.slides_url %}</a>{% endif %},
                                {{ item.prefix | default: "Invited talk at" }}
                                {% if item.url %}<a href="{{ item.url }}">{% endif %}{{ item.event }}{% if item.url
                                        %}</a>{% endif %}{% if item.address %}, {{ item.address }}{% endif %}, {{
                                item.date }}{% if item.extra_label %} <span style="color: black; font-weight: bold">[{%
                                        if item.extra_url %}<a href="{{ item.extra_url }}">{% endif %}{{
                                                item.extra_label }}{% if item.extra_url %}</a>{% endif %}]</span>{%
                                endif %}
                        </li>
                        {% endfor %}
                </ul>
                </p>
                <br />

                <h1><a name="press">Press:</a></h1>
                <p>
                <ul>
                        {% for item in site.data.bram.press %}
                        <li>
                                <a href="{{ item.url }}">{{ item.title }}</a>{% if item.extra_label %} (also <a
                                        href="{{ item.extra_url }}">{{ item.extra_label }}</a>){% endif %}{% if
                                item.description or item.event %}, {{ item.description | default: item.event }}{% endif
                                %}{% if item.date %}, {{ item.date }}{% endif %}
                        </li>
                        {% endfor %}
                </ul>
                </p>

                <br />
                <br />


        </div>
        <div class="clear"></div>
</div>