---
layout: index
title: Dr. Bram Adams
---

<div class="box">
        <div class="sidebar">

                <div class="subnav">
                        <h5>Jump to ...</h5>
                        <p>
                        <ul>
                                <li><a href="#award">Awards</a></li>
                                <li><a href="#event-coorg">Event Co-organization</a></li>
                                <li><a href="#chair">Chair Duties</a></li>
                                <li><a href="#pcmember">PC Membership</a></li>
                                <li><a href="#reviewing">Journal Reviewing</a></li>
                                <li><a href="#editorship">Editorship and Steering Committees</a></li>
                                <li><a href="#invited">Invited Talks</a></li>
                                <li><a href="#press">Press</a></li>
                        </ul>
                        </p>
                        <br />
                        <br />
                        <h5>About Me</h5>
                        <p class="justify">
                                <img src="images/me_sketch.png" width="210" border="1" alt="" /><br /><br />
                                I am a professor at <a class="inline" href="https://www.cs.queensu.ca/">Queen's
                                        University's School of
                                        Computing</a>, where I head the
                                <a class="inline" href="http://mcis.cs.queensu.ca/">MCIS Lab on Maintenance, Construction
                                        and
                                        Intelligence</a>.
                        </p>
                        <p class="justify">My research interests include release engineering, software engineering for
                                AI, AI for
                                software engineering and software analytics.</p>
                        <p><a href="join.html">Contact me!</a>
                        </p>
                </div>
        </div>

        <div class="content">


                <h1><a name="award">Awards</a></h1>
                <p>
                <ul>
                        {% for item in site.data.bram.awards %}
                        {% include bram_entry.ext item=item type='award' %}
                        {% endfor %}
                </ul>
                </p>

                <br />
                <br />

                <h1><a name="event-coorg">Event Co-organization</a></h1>
                <p>
                <ul>
                        {% for item in site.data.bram.event_coorganization %}
                        {% include bram_entry.ext item=item type='event' %}
                        {% endfor %}
                </ul>
                </p>
                <br />

                <h1><a name="chair">Chair Duties</a></h1>
                <p>
                <ul>
                        {% for item in site.data.bram.chair_duties %}
                        {% include bram_entry.ext item=item type='chair' %}
                        {% endfor %}
                </ul>
                </p>

                <br />

                <h1><a name="pcmember">PC Membership</a></h1>
                <p>
                <ul>
                        {% for item in site.data.bram.pc_membership %}
                        {% include bram_entry.ext item=item type='pc' %}
                        {% endfor %}
                </ul>
                </p>

                <br />

                <h1><a name="reviewing">Journal Reviewing</a></h1>
                <p>
                <ul>
                        {% for item in site.data.bram.journal_reviewing %}
                        {% include bram_entry.ext item=item type='reviewing' %}
                        {% endfor %}
                </ul>
                </p>

                <br />

                <h1><a name="editorship">Editorship and Steering Committees</a></h1>
                <p>
                <ul>
                        {% for item in site.data.bram.editorship %}
                        {% include bram_entry.ext item=item type='editorship' %}
                        {% endfor %}
                </ul>
                </p>
                <br />

                <h1><a name="invited">Invited Talks:</a></h1>
                <p>
                <ul>
                        {% for item in site.data.bram.invited_talks %}
                        {% include bram_entry.ext item=item type='talk' %}
                        {% endfor %}
                </ul>
                </p>
                <br />

                <h1><a name="press">Press:</a></h1>
                <p>
                <ul>
                        {% for item in site.data.bram.press %}
                        {% include bram_entry.ext item=item type='press' %}
                        {% endfor %}
                </ul>
                </p>

                <br />
                <br />


        </div>
        <div class="clear"></div>
</div>
