---
layout: index
title: Who are these MCIS people?
---

<div class="box">
        <div class="portfolio">

                <!--        <div class="tagline_left">-->
                <!-- <a href="images/mcis16.jpg" data-gal="prettyPhoto" title="Title"><img src="images/mcis18.jpeg" alt="" height="400"/></a>
	           <br/>
	           <br/> -->
                <h2>Faculty</h2>
                <div class="who-section">
                        {% for person in site.data.people.faculty %}
                        <div class="person-card">
                                <div class="person-img">
                                        <img src="{{ person.image }}" height="160" alt="{{ person.name }}" />
                                </div>
                                <div class="person-info">
                                        <a href="{{ person.link }}">{{ person.name }}</a>
                                </div>
                        </div>
                        {% endfor %}
                </div>

                <br />
                <br />
                <h2>Grad Students</h2>
                <div class="who-section">
                        {% for person in site.data.people.students %}
                        <div class="person-card">
                                <div class="person-img">
                                        <img src="{{ person.image | default: 'images/mcis.png' }}" height="140"
                                                alt="{{ person.name }}" />
                                </div>
                                <div class="person-info">
                                        <a href="{{ person.url | default: '#' }}">{{ person.name }}</a><br />
                                        {{ person.role }}<br />
                                        {% if person.supervisor %}
                                        (with {% for sup in person.supervisor %}<a
                                                href="{{ site.data.supervisors[sup] }}">{{ sup }}</a>{% unless
                                        forloop.last %} & {% endunless %}{% endfor %})
                                        {% endif %}
                                </div>
                        </div>
                        {% endfor %}
                </div>

                <br />
                <br />
                <h2>Alumni</h2>
                <div class="who-section">
                        {% for person in site.data.people.alumni %}
                        <div class="person-card">
                                <div class="person-img">
                                        <img src="{{ person.image | default: 'images/mcis.png' }}" height="140"
                                                alt="{{ person.name }}" />
                                </div>
                                <div class="person-info">
                                        <a href="{{ person.url | default: '#' }}">{{ person.name }}</a><br />
                                        {{ person.role }}<br />
                                        {% if person.supervisor %}
                                        (with {% for sup in person.supervisor %}<a
                                                href="{{ site.data.supervisors[sup] }}">{{ sup }}</a>{% unless
                                        forloop.last %} & {% endunless %}{% endfor %})
                                        {% endif %}
                                </div>
                        </div>
                        {% endfor %}
                </div>


        </div>
</div>