---
layout: index
title: Research Results on Maintenance, Construction and Intelligence of Software (MCIS)
---

<div class="box">
    <div class="sidebar">
        <div class="subnav">
            <h5>Navigation</h5>
            <ul>
                {% for year_data in site.data.publications %}
                {% assign year = year_data[0] %}
                <li><a href="#{{ year }}">{{ year }}</a></li>
                {% endfor %}
            </ul>
        </div>

        {% assign sidebar_vignettes = site.data.vignettes | where: "front_page", false %}
        {% for vignette in sidebar_vignettes %}
        <div id="featured">
            <ul>
                <li>
                    <h5>{{ vignette.title }}</h5>
                    <p class="imgholder">
                        <img src="{{ vignette.image }}" width="210" height="158" alt="{{ vignette.image_alt }}" />
                    </p>
                    {% assign teaser_html = vignette.teaser | replace_first: '*', '<b>' | replace_first: '*', '</b>' %}
                    <p>{{ teaser_html }}</p>
                    <br />
                    <p>Check out our <a href="{{ vignette.link }}">{{ vignette.venue }}</a> paper!</p>
                </li>
            </ul>
        </div>
        {% endfor %}


    </div>

    <div class="content">
        {% for year_data in site.data.publications %}
        {% assign year = year_data[0] %}
        {% assign types = year_data[1] %}

        <h2><a name="{{ year }}"></a>{{ year }}</h2>
        <br />

        {% if types.journal.size > 0 %}
        <h3>Journal</h3>
        <ul>
            {% for pub in types.journal %}
            <li>{% include publication_entry.ext pub=pub %}</li>
            {% endfor %}
        </ul>
        <br />
        {% endif %}

        {% if types.conference.size > 0 %}
        <h3>Conference</h3>
        <ul>
            {% for pub in types.conference %}
            <li>{% include publication_entry.ext pub=pub %}</li>
            {% endfor %}
        </ul>
        <br /><br /><br /><br />
        <br />
        {% endif %}

        {% if types.workshop.size > 0 %}
        <h3>Workshop</h3>
        <ul>
            {% for pub in types.workshop %}
            <li>{% include publication_entry.ext pub=pub %}</li>
            {% endfor %}
        </ul>
        <br /><br /><br /><br />
        <br />
        {% endif %}

        {% if types.thesis.size > 0 %}
        <h3>Thesis</h3>
        <ul>
            {% for pub in types.thesis %}
            <li>{% include publication_entry.ext pub=pub %}</li>
            {% endfor %}
        </ul>
        <br />
        {% endif %}

        {% if types.other.size > 0 %}
        <h3>Other</h3>
        <ul>
            {% for pub in types.other %}
            <li>{% include publication_entry.ext pub=pub %}</li>
            {% endfor %}
        </ul>
        <br /><br /><br /><br />
        {% endif %}

        {% endfor %}
    </div>

    <div class="clear"></div>
</div>