---
layout: index
title: Research Results on Maintenance, Construction and Intelligence of Software (MCIS)
---

<div class="box">
    <div class="sidebar">
        <div class="subnav">
            <h5>Navigation</h5>
            <ul>
                <li><a href="#2026">2026</a></li>
                <li><a href="#2025">2025</a></li>
                <li><a href="#2024">2024</a></li>
                <li><a href="#2023">2023</a></li>
                <li><a href="#2022">2022</a></li>
                <li><a href="#2021">2021</a></li>
                <li><a href="#2020">2020</a></li>
                <li><a href="#2019">2019</a></li>
                <li><a href="#2018">2018</a></li>
                <li><a href="#2017">2017</a></li>
                <li><a href="#2016">2016</a></li>
                <li><a href="#2015">2015</a></li>
                <li><a href="#2014">2014</a></li>
                <li><a href="#2013">2013</a></li>
                <li><a href="#2012">2012</a></li>
                <li><a href="#2011">2011</a></li>
                <li><a href="#2010">2010</a></li>
                <li><a href="#2009">2009</a></li>
                <li><a href="#2008">2008</a></li>
                <li><a href="#2007">2007</a></li>
                <li><a href="#2006">2006</a></li>
                <li><a href="#2005">2005</a></li>
                <li><a href="#2004">2004</a></li>
            </ul>
        </div>

        <div id="featured">
            <ul>
                <li>
                    <h5>InterTrans Code Translation</h5>
                    <p class="imgholder"><img src="images/intertrans-sidebar.png" width="210" height="158"
                            alt="InterTrans" /></p>
                    <p>Did you know that leveraging **intermediate translations** across programming languages can
                        bridge
                        syntactic gaps and boost LLM translation accuracy by up to 43.3%? <b>Check out our ICSE 2025
                            paper
                            &raquo;</b></p>
                    <p class="readmore"><a href="https://arxiv.org/abs/2411.01063">Read more &raquo;</a></p>
                </li>
            </ul>
        </div>

        <div id="featured">
            <ul>
                <li>
                    <h5>LLM Output Biases</h5>
                    <p class="imgholder"><img src="images/output-format-sidebar.png" width="210" height="158"
                            alt="Output Biases" /></p>
                    <p>Did you know that **up to 73% of LLM translation outputs** contain non-code elements that bias
                        evaluation?
                        We propose strategies to extract clean code for reliable assessment. <b>Check out our EMSE 2026
                            paper
                            &raquo;</b></p>
                    <p class="readmore"><a href="https://arxiv.org/abs/2403.17214">Read more &raquo;</a></p>
                </li>
            </ul>
        </div>

        <div id="featured">
            <ul>
                <li>
                    <h5>Leaderboard Smells</h5>
                    <p class="imgholder"><img src="images/lbops-smells-sidebar.png" width="210" height="158"
                            alt="LBOps" /></p>
                    <p>Did you know that we identified **eight unique types of leaderboard smells**? Identifying these
                        pitfalls
                        helps stakeholders perform more transparent foundation model selection. <b>Check out our TSE
                            2025 paper
                            &raquo;</b></p>
                    <p class="readmore"><a href="https://arxiv.org/abs/2407.04065">Read more &raquo;</a></p>
                </li>
            </ul>
        </div>

        <div id="featured">
            <ul>
                <li>
                    <h5>Code Review Prediction</h5>
                    <p class="imgholder"><img src="images/code-review-sidebar.png" width="210" height="158"
                            alt="Code Review" />
                    </p>
                    <p>Did you know that re-ordering files in a patch can increase **file-level hot-spot recall by 8%**?
                        Predicting where comments are likely helps reviewers focus their effort. <b>Check out our FSE
                            2024 paper
                            &raquo;</b></p>
                    <p class="readmore"><a href="https://arxiv.org/abs/2404.10703">Read more &raquo;</a></p>
                </li>
            </ul>
        </div>

        <div id="featured">
            <ul>
                <li>
                    <h5>ML Model Recycling</h5>
                    <p class="imgholder"><img src="images/model-recycling-sidebar.png" width="210" height="158"
                            alt="Model Recycling" /></p>
                    <p>Did you know that **recycling old ML models** instead of discarding them can significantly lower
                        the
                        computational footprint and cost of AI development? <b>Check out our EMSE 2024 paper &raquo;</b>
                    </p>
                    <p class="readmore"><a href="publications/2024/emse_harsh.pdf">Read more &raquo;</a></p>
                </li>
            </ul>
        </div>

        <div id="featured">
            <ul>
                <li>
                    <h5>ML Asset Management</h5>
                    <p class="imgholder"><img src="images/asset-mgmt-sidebar.png" width="210" height="158"
                            alt="ML Asset Management (Post Office Storage System)" /></p>
                    <p>Did you know that **model versioning and data traceability** are the primary pain points for
                        developers in
                        ML asset management? We analyzed 15,000+ posts to identify key challenges. <b>Check out our EMSE
                            2024 paper
                            &raquo;</b></p>
                    <p class="readmore"><a href="https://arxiv.org/abs/2402.15990">Read more &raquo;</a></p>
                </li>
            </ul>
        </div>

        <div id="featured">
            <ul>
                <li>
                    <h5>Unreproducible Builds</h5>
                    <p class="imgholder"><img src="images/unreproducible-sidebar.png" width="210" height="158"
                            alt="Unreproducible" /></p>
                    <p>Did you know that we are investigating how much **build unreproducibility is caused by external
                        ecosystem
                        dependencies** rather than the project's own codebase? <b>Check out our EMSE 2024 paper
                            &raquo;</b></p>
                    <p class="readmore"><a href="publications/2024/emse_rahul.pdf">Read more &raquo;</a></p>
                </li>
            </ul>
        </div>

        <div id="featured">
            <ul>
                <li>
                    <h5>ML Pipeline Taxonomy</h5>
                    <p class="imgholder"><img src="images/taxonomy-sidebar.png" width="210" height="158"
                            alt="Pipeline Taxonomy" /></p>
                    <p>Did you know that we extended the taxonomy of code changes with **15 new categories specific to
                        ML
                        pipelines**, including parameter tuning and data pre-processing? <b>Check out our EMSE 2023
                            paper
                            &raquo;</b></p>
                    <p class="readmore"><a href="https://arxiv.org/abs/2203.11365">Read more &raquo;</a></p>
                </li>
            </ul>
        </div>

        <div id="featured">
            <ul>
                <li>
                    <h5>Build Batching for CI</h5>
                    <p class="imgholder"><img src="images/batching-sidebar.png" width="210" height="158"
                            alt="Build Batching" />
                    </p>
                    <p>Did you know that dynamic build batching can **save over 20% of CI resources** while identifying
                        build
                        failures faster than traditional heuristics? <b>Check out our EMSE 2025 paper &raquo;</b></p>
                    <p class="readmore"><a href="publications/2025/emse_divya_light.pdf">Read more &raquo;</a></p>
                </li>
            </ul>
        </div>


    </div>

    <div class="content">
        {% for year_data in site.data.publications %}
        {% assign year = year_data[0] %}
        {% assign types = year_data[1] %}

        <h2><a name="{{ year }}"></a>{{ year }}</h2>
        <br />

        {% if types.journal.size > 0 %}
        <h3>Journal</h3>
        <ul>
            {% for pub in types.journal %}
            <li>{% include publication_entry.ext pub=pub %}</li>
            {% endfor %}
        </ul>
        <br />
        {% endif %}

        {% if types.conference.size > 0 %}
        <h3>Conference</h3>
        <ul>
            {% for pub in types.conference %}
            <li>{% include publication_entry.ext pub=pub %}</li>
            {% endfor %}
        </ul>
        <br /><br /><br /><br />
        <br />
        {% endif %}

        {% if types.workshop.size > 0 %}
        <h3>Workshop</h3>
        <ul>
            {% for pub in types.workshop %}
            <li>{% include publication_entry.ext pub=pub %}</li>
            {% endfor %}
        </ul>
        <br /><br /><br /><br />
        <br />
        {% endif %}

        {% if types.thesis.size > 0 %}
        <h3>Thesis</h3>
        <ul>
            {% for pub in types.thesis %}
            <li>{% include publication_entry.ext pub=pub %}</li>
            {% endfor %}
        </ul>
        <br />
        {% endif %}

        {% if types.other.size > 0 %}
        <h3>Other</h3>
        <ul>
            {% for pub in types.other %}
            <li>{% include publication_entry.ext pub=pub %}</li>
            {% endfor %}
        </ul>
        <br /><br /><br /><br />
        {% endif %}

        {% endfor %}
    </div>

</div>